Repository jbt-it/neomdb, pull requests merged in 2023-09, with the labels that each got.

#279 #276 client implement trainee selection trainee
  .vscode/settings.json
  client/.eslintrc.json
  client/src/ts/global/App.tsx
  client/src/ts/members/MemberManagement.tsx
  client/src/ts/trainees/TraineePreferences.tsx
  server/.eslintrc.json
Labels: client

#282 #276 client implement trainee selection trainee
  client/src/ts/global/App.tsx
  client/src/ts/members/MemberOverview.tsx
  client/src/ts/trainees/AssignTrainees.tsx
Labels: client

#291 #283 add modular input elements
  client/package-lock.json
  client/package.json
  client/src/ts/global/App.tsx
  client/src/ts/global/FieldSectionTest.tsx
  client/src/ts/global/components/FieldSection.tsx
  server/package-lock.json
  server/package.json
Labels: dependencies

#269 #247 setup neomdb deployment
  .gitignore
  client/.prettierignore
  client/.prettierrc.json
  client/Dockerfile
  client/package-lock.json
  client/package.json
  client/public/favicon.ico
  client/public/index.html
  client/public/jbtLogo.jpg
  client/public/logo192.png
  client/public/logo512.png
  client/public/manifest.json
  client/src/images/jbt-logo-black.png
  client/src/images/jbt-logo-white.png
  client/src/images/jbt-logo.png
  client/src/ts/global/components/navigation/Nav.tsx
  client/src/ts/members/ForgotPassword.tsx
  client/src/ts/members/Login.tsx
  client/src/ts/members/member-page/DisplayMemberDetails.tsx
  client/src/ts/utils/api.ts
  deployment/DEPLOYMENT.md
  deployment/deployment.png
  deployment/docker-compose.development.yaml
  deployment/docker-compose.production.yaml
  deployment/docker-compose.testing.yaml
  nginx/default-app.conf
  nginx/default-db.conf
  server/.prettierrc.json
  server/Dockerfile
  server/src/app.ts
  server/src/database.ts
  server/src/global/auth/authController.ts
  server/src/middleware/cors.ts
  server/src/routes.ts
  server/src/server.ts
Labels: client, server

#297 296 create display component
  client/src/ts/global/App.tsx
  client/src/ts/global/InfoSectionTest.tsx
  client/src/ts/global/components/InfoSection.tsx
Labels: client

#298 #284 server retrieve list of trainees joined their internal project
  server/src/resources/trainees/TraineesRepository.ts
  server/src/resources/trainees/TraineesService.ts
  server/src/resources/trainees/traineesController.ts
  server/src/resources/trainees/traineesRoutes.ts
  server/src/types/traineesTypes.ts
Labels: server
