Repository jbt-it/neomdb, pull requests merged in 2024-06, with the labels that each got.

#374 #347 client workshop instance feedback admin
  client/src/pages/events/WorkshopInstanceEvaluation.tsx
Labels: client

#421 #382 react query new - Members
  client/package-lock.json
  client/package.json
  client/src/api/departments.ts
  client/src/api/members.ts
  client/src/api/permissions.ts
  client/src/components/events/EventParticipants.tsx
  client/src/components/members/DepartmentDialog.tsx
  client/src/components/navigation/AccountPopover.tsx
  client/src/components/navigation/sidebar/NavItem.tsx
  client/src/components/routing/PrivateRoutes.tsx
  client/src/components/routing/ProtectedRoutes.tsx
  client/src/components/routing/PublicRoutes.tsx
  client/src/hooks/members/useDepartments.ts
  client/src/hooks/members/useMemberDetails.ts
  client/src/hooks/members/useMembers.ts
  client/src/hooks/members/usePermissions.ts
  client/src/hooks/useAuth.tsx
  client/src/hooks/useCheckAuth.tsx
  client/src/index.tsx
  client/src/pages/Login.tsx
  client/src/pages/events/WorkshopDetails.tsx
  client/src/pages/events/WorkshopInstanceDetails.tsx
  client/src/pages/events/WorkshopInstanceFeedback.tsx
  client/src/pages/events/WorkshopsOverview.tsx
  client/src/pages/members/DepartmentOverview.tsx
  client/src/pages/members/DirectorsHistory.tsx
  client/src/pages/members/MemberManagement.tsx
  client/src/pages/members/MemberOverview.tsx
  client/src/pages/members/PermissionsOverview.tsx
  client/src/pages/members/member-page/DisplayMemberDetails.tsx
  client/src/pages/members/member-page/MemberPage.tsx
  client/src/pages/trainees/TraineeSection.tsx
  client/src/types/membersTypes.ts
  client/src/utils/imageUtils.ts
  server/build/routes.ts
  server/build/swagger.json
  server/src/resources/members/MembersService.ts
  server/src/resources/members/membersController.ts
  server/src/types/memberTypes.ts
  server/test/resources/members/memberRoutes.test.ts
Labels: client, Module: Member

#444 Fixed changing department links and assigning new department to member
  client/src/api/departments.ts
  client/src/components/members/DepartmentDialog.tsx
  client/src/pages/members/member-page/DisplayMemberDetails.tsx
  client/src/types/membersTypes.ts
Labels: bug

#439 navConfig fixed
  client/src/components/navigation/sidebar/NavItem.tsx
  client/src/components/navigation/sidebar/SidebarDesktop.tsx
  client/src/components/navigation/sidebar/navConfig.tsx
  client/src/components/routing/ProtectedRoutes.tsx
  client/src/utils/authUtils.ts
Labels: bug

#436 159 client finance main page
  client/src/App.tsx
  client/src/components/navigation/PageBreadCrumbs.tsx
  client/src/pages/finance/FinanceOverview.tsx
  client/src/types/membersTypes.ts
Labels: Module: Finance

#435 165 client projectoverview
  client/src/App.tsx
  client/src/components/general/DateRangePicker.tsx
  client/src/components/general/MonthPicker.tsx
  client/src/components/navigation/sidebar/NavItem.tsx
  client/src/components/projects/MyProjects.tsx
  client/src/components/projects/ProjectTableHeadCell.tsx
  client/src/components/projects/ProjectTenders.tsx
  client/src/components/projects/allProjectsOverview/AllProjects.tsx
  client/src/components/projects/allProjectsOverview/AllProjectsCoreCompetenciesFilter.tsx
  client/src/components/projects/allProjectsOverview/AllProjectsDateFilters.tsx
  client/src/components/projects/allProjectsOverview/AllProjectsTable.tsx
  client/src/components/projects/projectCard/ProjectCard.tsx
  client/src/components/projects/projectCard/ProjectChip.tsx
  client/src/components/projects/projectCard/ProjectMemberList.tsx
  client/src/components/projects/projectCard/TenderedProjectCard.tsx
  client/src/components/routing/ProtectedRoutes.tsx
  client/src/hooks/useCompanies.ts
  client/src/hooks/useProjects.ts
  client/src/pages/projects/ProjectOverview.tsx
  client/src/types/projectTypes.ts
Labels: client, Module: Projects
