Repository jbt-it/neomdb, pull requests merged in 2024-01, with the labels that each got.

#330 #205 update jwt after permission change
  server/src/auth/authController.ts
Labels: server

#383 381 server adjust the order of password check and permission retrieval
  server/src/auth/AuthService.ts
  server/src/auth/authController.ts
Labels: server

#377 #325 add image support
  client/src/components/general/MemberImage.tsx
  client/src/components/navigation/AccountPopover.tsx
  client/src/pages/members/member-page/DisplayMemberDetails.tsx
  client/src/pages/members/member-page/MemberPage.tsx
  client/src/types/membersTypes.ts
  deployment/docker-compose.development.yaml
  deployment/docker-compose.testing.yaml
  server/Dockerfile
  server/assets/images/8111.jpg
  server/build/routes.ts
  server/build/swagger.json
  server/package-lock.json
  server/package.json
  server/src/app.ts
  server/src/middleware/cors.ts
  server/src/resources/members/MembersService.ts
  server/src/resources/members/membersController.ts
  server/src/types/membersTypes.ts
  server/src/utils/assetsUtils.ts
  server/test/assets/images/8111.png
  server/test/auth/authRoutes.test.ts
  server/test/resources/members/memberRoutes.test.ts
  server/test/resources/trainees/traineeRoutes.test.ts
  server/test/utils/authTestUtils.ts
  server/test/utils/databaseUtils.ts
  server/tsconfig.json
Labels: client, server

#371 #130 server implement trainee admission
  server/build/routes.ts
  server/build/swagger.json
  server/src/resources/members/MembersRepository.ts
  server/src/resources/members/MembersService.ts
  server/src/resources/members/membersController.ts
  server/src/resources/trainees/traineesController.ts
  server/src/types/membersTypes.ts
  server/src/utils/repositoryUtils.ts
  server/test/resources/trainees/traineeRoutes.test.ts
Labels: server

#320 #306 events overview
  client/src/App.tsx
  client/src/components/events/EditEventDialog.tsx
  client/src/components/events/EventChip.tsx
  client/src/components/events/workingweekend/WorkingWeekendSignUp.tsx
  client/src/components/events/workingweekend/WorkingWeekendSignUpDialog.tsx
  client/src/components/general/DateRangePicker.tsx
  client/src/components/general/FieldSection.tsx
  client/src/components/general/InfoSection.tsx
  client/src/components/general/Layout.tsx
  client/src/components/general/LoadingTable.tsx
  client/src/components/general/MonthPicker.tsx
  client/src/components/navigation/PageBar.tsx
  client/src/mock/events/Workshops.js
  client/src/mock/events/events.js
  client/src/mock/events/mitglied_has_event.js
  client/src/pages/events/EventsOverview.tsx
  client/src/pages/members/member-page/DisplayMemberDetails.tsx
  client/src/utils/globalTheme.ts
Labels: client

#337 #308 event details page
  client/src/App.tsx
  client/src/components/events/AddMembersField.tsx
  client/src/components/events/EditEventDialog.tsx
  client/src/components/events/EventParticipants.tsx
  client/src/components/events/workingweekend/AddWorkingWeekendParticipant.tsx
  client/src/components/events/workingweekend/WorkingWeekendParticipantsTable.tsx
  client/src/components/events/workingweekend/WorkingWeekendSignUp.tsx
  client/src/components/events/workingweekend/WorkingWeekendSignUpDialog.tsx
  client/src/mock/events/eventParticipants.js
  client/src/mock/events/events.js
  client/src/mock/events/workingWeekendParticipants.js
  client/src/pages/events/EventDetails.tsx
  client/src/pages/events/EventsOverview.tsx
  client/src/types/eventTypes.ts
Labels: client

#252 #127 client implement traineesection
  client/src/App.tsx
  client/src/components/members/trainees/AddInternalProjectButton.tsx
  client/src/components/members/trainees/AddInternalProjectDialog.tsx
  client/src/components/members/trainees/GenerationSelection.tsx
  client/src/components/members/trainees/InternalProjectCard.tsx
  client/src/components/members/trainees/TraineeSectionSkeleton.tsx
  client/src/components/members/trainees/TraineeSectionTable.tsx
  client/src/pages/trainees/TraineeSection.tsx
  client/src/types/membersTypes.ts
  client/src/types/traineesTypes.ts
  client/src/utils/stringUtils.ts
  server/build/routes.ts
  server/build/swagger.json
  server/src/resources/members/MembersRepository.ts
  server/src/resources/trainees/traineesController.ts
Labels: good first issue
